<header class="main-menu-header" id="main-menu-header">
    <!-- Hamburger menu for mobile screens -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamburger-menu" for="side-menu">
        <span class="hamburger-line"></span>
    </label>

    <div class="header-title">
        <div class="container">
        <h3 class="title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
        </h3>
        </div>
    </div>

    <nav class="nav">
        <ul class="menu">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/lifestory/index.html">Life Story</a> </li>
        <li><a href="#">Visual</a></li>
        <li><a href="#">Audio</a></li>
        </ul>
    </nav>
</header>